@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/home.js"></script>
<div>
    <table>
        <tr>
            <td>用户名</td>
            <td>
                <input type="text" id="userName"/>
            </td>
        </tr>
        <tr>
            <td>密  码</td>
            <td>
                <input type="password" id="password"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="提交" onclick="Login()"/>
            </td>
        </tr>
    </table>
</div>